h1,
h2 {
  font-family: Lato;
}
body,
html {
  background: #213158;
}
.rating {
  display: grid;
  grid-auto-rows: 2rem;
  grid-template-columns: 1fr 1fr;
}
.rating-title {
  grid-column: 1 / 3;
  color: white;
}
.rating-note {
  grid-column: 1 / 3;
  color: white;
}
